<div class="container">
  <h3><%= t(".title") %></h3>
  <div class="row justify-content-end">
    <div class="col-md-2">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-calculator">
        <%= t(".modal_calculator") %>
      </button>
    </div>
  </div>
  <table class="table caption-top mt-4">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".price") %></th>
        <th><%= t(".percentage_monthly") %></th>
      </tr>
    </thead>
    <tbody>
      <% cryptos.each do |crypto| %>
        <tr class="m-2">
          <td>
            <div class="row">
              <div class="col-md-2 mt-2">
                <img src="<%= crypto["url"] %>" alt="<%= crypto["asset_id"] %>">
              </div>
              <div class="col-md-10">
                <p class="fw-lighter">
                  <strong><%= crypto["asset_name"] %></strong>
                  <br>
                  <%= crypto["asset_id"] %>
                </p>
              </div>
            </div>
          </td>
          <td><%= number_to_currency(crypto["rate"] || 0) %></td>
          <td><%= number_to_percentage(crypto["monthly_percentage"]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render "modal_calculator", locals: {
  cryptos: cryptos,
  cryptos_for_select: cryptos_for_select
} %>
